/* App.css */

/* Global styles for the entire application */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    border: 2px solid rgb(229, 49, 85);
    border-radius: 12px;
    min-height: 100vh;
    background: linear-gradient(135deg, #fcfcfd, #fffaec);
  }
 .sz{
  font-size: 24px;
 } 
  .header {
    box-sizing: border-box;
    padding: 20px;
  }
  
  .separator {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
  }
  
  .content {
    color: rgb(229, 49, 85);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Add more specific styles as needed */
  